<app-header [usuario]="usuario"></app-header>
<button type="button" class="btn btn-secundario btn-sm ms-3" (click)="retornar()"><span
        class="bi bi-chevron-left"></span></button>
<div class="container">
    <h2 class="mb-3">Editar Datos de Cuenta</h2>
    <form class="row g-3 align-items-center mb-4" [formGroup]="formularioUsuario">
        <div class="col-12 col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre"
                [ngClass]="{'is-invalid':submitted && formularioUsuario.controls.nombre.errors}" id="nombre"
                placeholder="Nombre">
            @if (formularioUsuario.get('nombre')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
            @if (formularioUsuario.get('nombre')?.errors?.['maxlength']) {
            <div class="invalid-feedback">No puede tener más de 45 caracteres</div>
            }
        </div>
        <div class="col-12 col-md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" formControlName="apellidos"
                [ngClass]="{'is-invalid':submitted && formularioUsuario.controls.apellidos.errors}" id="apellidos"
                placeholder="Apellidos">
            @if (formularioUsuario.get('apellidos')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
            @if (formularioUsuario.get('apellidos')?.errors?.['maxlength']) {
            <div class="invalid-feedback">No puede tener más de 45 caracteres</div>
            }
        </div>
        <div class="col-12 col-md-6">
            <label for="fecha" class="form-label">Fecha Nacimiento</label>
            <input type="date" class="form-control" formControlName="fechanacimiento"
                [ngClass]="{'is-invalid':submitted && formularioUsuario.controls.fechanacimiento.errors}" id="fecha">
            @if (formularioUsuario.get('fechanacimiento')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        <div class="col-12 col-md-6">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="number" class="form-control" formControlName="telefono"
                [ngClass]="{'is-invalid':submitted && formularioUsuario.controls.telefono.errors}" id="telefono"
                placeholder="Telefono">
            @if (formularioUsuario.get('telefono')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        <div class="col-12 col-md-8">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" formControlName="direccion"
                [ngClass]="{'is-invalid':submitted && formularioUsuario.controls.direccion.errors}" id="direccion"
                placeholder="Dirección">
            @if (formularioUsuario.get('direccion')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
            @if (formularioUsuario.get('direccion')?.errors?.['maxlength']) {
            <div class="invalid-feedback">No puede tener más de 100 caracteres</div>
            }
        </div>
        <div class="col-12 col-md-4">
            <label for="cp" class="form-label">Código Postal</label>
            <input type="number" class="form-control" formControlName="cp"
                [ngClass]="{'is-invalid':submitted && formularioUsuario.controls.cp.errors}" id="cp" placeholder="CP">
            @if (formularioUsuario.get('cp')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        <div class="col-12">
            <label for="provincia" class="form-label">Provincia</label>
            <select id="provincia" class="form-select" formControlName="provincia"
                [ngClass]="{'is-invalid':submitted && formularioUsuario.controls.provincia.errors}"
                placeholder="Escoge tu Provincia">
                <option value="" selected>Escoge una provincia</option>
                @for (p of provincias; track $index) {
                <option value="{{p.idprovincia}}">{{p.nombre}}</option>
                }
            </select>
            @if (formularioUsuario.get('provincia')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="reset" class="btn btn-secundario">Limpiar</button>
        </div>
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="submit" class="btn btn-primario_claro" data-bs-toggle="modal"
                data-bs-target="#editarModal">Editar</button>
        </div>
        <!-- Modal de confirmación -->
        <div class="modal fade" id="editarModal" tabindex="-1" data-bs-theme="dark">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">¿Seguro que quieres actualizar los datos?</h1>
                    </div>
                    <div class="modal-body">
                        <small class="text-body-secondary">Se actualizarán los datos del usuario</small>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-error" data-bs-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primario" data-bs-dismiss="modal" (click)="enviar()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <h2 class="mb-3">Cambiar Contraseña</h2>
    <form [formGroup]="formularioPsw" class="row g-3 align-items-center mb-5">
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsernameNueva">Nueva Contraseña</label>
            <div class="input-group">
                <div class="input-group-text"><i class="bi bi-incognito"></i></div>
                <input type="password" formControlName="nueva" class="form-control"
                    [ngClass]="{'is-invalid':submittedPsw && formularioPsw.controls.nueva.errors}"
                    id="inlineFormInputGroupUsernameNueva" placeholder="Nueva Contraseña">
                @if (formularioPsw.get('nueva')?.errors?.['required']) {
                <div class="invalid-feedback">Este campo es obligatorio</div>
                }
                @if (formularioPsw.get('nueva')?.errors?.['maxlength']) {
                <div class="invalid-feedback">No puede tener más de 65 caracteres</div>
                }
                @if (formularioUsuario.get('nueva')?.errors?.['correoValido']) {
                <div class="invalid-feedback">La contraseña no es segura</div>
                }
            </div>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsernameRep">Repita Contraseña</label>
            <div class="input-group">
                <div class="input-group-text"><i class="bi bi-repeat"></i></div>
                <input type="password" formControlName="repetida" class="form-control"
                    [ngClass]="{'is-invalid':submittedPsw && formularioPsw.controls.repetida.errors}"
                    id="inlineFormInputGroupUsernameRep" placeholder="Repita Contraseña">
                @if (formularioPsw.get('repetida')?.errors?.['required']) {
                <div class="invalid-feedback">Este campo es obligatorio</div>
                }
                @if (formularioPsw.get('repetida')?.errors?.['maxlength']) {
                <div class="invalid-feedback">No puede tener más de 65 caracteres</div>
                }
                @if (formularioUsuario.get('repetida')?.errors?.['correoValido']) {
                <div class="invalid-feedback">La contraseña no es segura</div>
                }
            </div>
        </div>
        <div class="col-12">
            <span id="passwordHelpInline" class="form-text text-ayuda">
                La contraseña debe tener mínimo 8 caracteres, mínimo 1 letra minúscula, 1 mayúscula, 1 dígito o
                culaquier caracter de los siguientes ($!%*#?.^_-).
            </span>
        </div>
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="reset" class="btn btn-secundario">Limpiar</button>
        </div>
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="submit" class="btn btn-primario_claro" data-bs-toggle="modal"
                data-bs-target="#actualizarModal">Reestrablecer</button>
        </div>
        <!-- Modal de confirmación -->
        <div class="modal fade" id="actualizarModal" tabindex="-1" data-bs-theme="dark">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">¿Seguro que quieres reestablecer la contraseña?</h1>
                    </div>
                    <div class="modal-body">
                        <small class="text-body-secondary">Se cambiará la contraseña a la introducida
                            actualmente</small>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-error" data-bs-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primario" data-bs-dismiss="modal"
                            (click)="reestablecerPsw()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@if(alertDatosErroneos){
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    <div>
        Datos introducidos erroneos, reviselos.
    </div>
</div>
}
@if(alertUpdateDatosConfirm){
<div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill me-1"></i>
    <div>
        Usuario actualizado correctamente!
    </div>
</div>
}
@if(alertUpdateDatosErroneo){
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    <div>
        Error al actualizar los datos del usuario.
    </div>
</div>
}
@if(alertPswErroneas){
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    <div>
        Las contraseñas no coinciden.
    </div>
</div>
}
@if(alertUpdatePswConfirm){
<div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill me-1"></i>
    <div>
        Contraseña reestablecida correctamente!
    </div>
</div>
}
@if(alertUpdatePswErroneo){
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    <div>
        Error al reestablecer la contraseña.
    </div>
</div>
}