<app-header [usuario]="loggedUser"></app-header>
@if(loggedUser != undefined){
<button type="button" class="btn btn-secundario btn-sm ms-3" (click)="retornar()"><span
        class="bi bi-chevron-left"></span></button>
<div class="container mt-3 p-4" id="registro">
    <h1 class="text-center"><strong>Nueva Entrada</strong></h1>
    <p class="text-center">Introduce los datos para crear una nueva entrada</p>
    <form class="row" [formGroup]="formularioEntrada">
        <div class="col-12 col-md-6 mb-2">
            <label for="nombre" class="form-label">Precio</label>
            <input type="number" class="form-control" formControlName="precio"
                [ngClass]="{'is-invalid':submitted && formularioEntrada.controls.precio.errors}" id="precio"
                placeholder="Precio">
            @if (formularioEntrada.get('precio')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="evento" class="form-label">Evento</label>
            <select id="evento" class="form-select" formControlName="evento"
                [ngClass]="{'is-invalid':submitted && formularioEntrada.controls.evento.errors}"
                placeholder="Escoge el evento">
                <option value="" selected>Escoge el evento de la entrada</option>
                @for (e of eventos; track $index) {
                <option value="{{e.idevento}}">{{e.nombre}}</option>
                }
            </select>
            @if (formularioEntrada.get('evento')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        <div class="col-12 mb-3">
            <label for="img" class="form-label">Código QR o PDF</label>
            <input type="file" class="form-control" formControlName="img" (change)="onFileSelected($event)"
                [ngClass]="{'is-invalid':submitted && formularioEntrada.controls.img.errors}" id="precio" id="img">
            @if (formularioEntrada.get('img')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        @if(srcPreview != ''){
        <div class="col-12 mb-3 d-flex justify-content-center">
            <img id="preview" [src]="srcPreview" alt="preview" class="card-img" id="qr">
        </div>
        }
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="reset" class="btn btn-secundario" (click)="limpiar()">Limpiar</button>
        </div>
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="submit" class="btn btn-primario_claro" data-bs-toggle="modal"
                data-bs-target="#crearModal">Subir Entrada</button>
        </div>
        <!-- Modal de confirmación -->
        <div class="modal fade" id="crearModal" tabindex="-1" data-bs-theme="dark">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">¿Seguro que quieres crear esta entrada?</h1>
                    </div>
                    <div class="modal-body">
                        <small class="text-body-secondary">Se creará una nueva entrada</small>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-error" data-bs-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primario" data-bs-dismiss="modal"
                            (click)="crearEntrada()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
}
@if(alertConfirmSubir){
<div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill me-1"></i>
    <div>
        Entrada creada correctamente!
    </div>
</div>
}
@if(alertErrorSubir){
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    <div>
        Error al crear la entrada.
    </div>
</div>
}