<div class="container">
    <h2 class="text-center mb-3">Crear</h2>
    <form class="row g-3 align-items-center mb-4" [formGroup]="formularioProvincia">
        <div class="col-12 col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre"
                [ngClass]="{'is-invalid':submitted && formularioProvincia.controls.nombre.errors}" id="nombre"
                placeholder="Nombre">
            @if (formularioProvincia.get('nombre')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
            @if (formularioProvincia.get('nombre')?.errors?.['maxlength']) {
            <div class="invalid-feedback">No puede tener más de 64 caracteres</div>
            }
        </div>
        <div class="col-12 col-md-6">
            <label for="comunidad" class="form-label">Comunidad Autónoma</label>
            <select class="form-control" formControlName="comunidad"
                [ngClass]="{'is-invalid':submitted && formularioProvincia.controls.comunidad.errors}" id="comunidad">
                <option selected>Escoge una CCAA</option>
                @for (c of comunidades; track $index) {
                <option value="{{c.idccaa}}">{{c.nombre}}</option>
                }
            </select>
            @if (formularioProvincia.get('comunidad')?.errors?.['required']) {
            <div class="invalid-feedback">Este campo es obligatorio</div>
            }
        </div>
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="reset" class="btn btn-secundario">Limpiar</button>
        </div>
        <div class="col-6 mt-2 d-grid gap-2">
            <button type="submit" class="btn btn-primario_claro" data-bs-toggle="modal"
                data-bs-target="#crearModal">Crear</button>
        </div>
        <!-- Modal de confirmación -->
        <div class="modal fade" id="crearModal" tabindex="-1" data-bs-theme="dark">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">¿Seguro que quieres crear la provincia de
                            "{{formularioProvincia.value.nombre}}"?</h1>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-error" data-bs-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primario" data-bs-dismiss="modal" (click)="enviar()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@if(alertConfirmCrear){
<div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill me-1"></i>
    <div>
        Provincia creada correctamente!
    </div>
</div>
}
@if(alertErrorCrear){
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    <div>
        Error al crear la provincia.
    </div>
</div>
}