.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

@media (width >=980px) {
    #detalle {
        max-width: 40vw;
    }
}

@media (max-width: 992px) {
    #detalle {
        max-width: 50vw;
    }
}

@media (max-width: 768px) {
    #detalle {
        max-width: 70vw;
    }
}

@media (max-width: 576px) {
    #detalle {
        max-width: 90vw;
    }
}

.modal-title{
    color: #fff;
}

.alert {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
