<div class="container mb-3">
    <h2 class="text-center">Listado</h2>
    <div class="row gx-4 gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        @for (e of eventos; track $index) {
        <div class="col">
            <div class="card">
                <img [src]="obtenerRutaImagen(e.img)" class="card-img-top" alt="{{e.nombre}}">
                <div class="card-body">
                    <h5 class="card-title">{{e.nombre}}</h5>
                    <p class="card-text">{{e.descripcion}}</p>
                    <p class="card-text">FECHA: {{e.fecha}}. HORA: {{e.hora}}</p>
                    <p class="card-text">LUGAR: {{e.lugar.nombre}}</p>
                    <a class="btn btn-success" routerLink="../editar/{{e.idevento}}">Editar</a>
                    <a class="btn btn-danger" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#eliminarModal' + e.idevento">Eliminar</a>
                </div>
            </div>
        </div>
        }
    </div>
    @for (e of eventos; track $index) {
    <!-- Modal de confirmación -->
    <div class="modal fade" [id]="'eliminarModal' + e.idevento" tabindex="-1" data-bs-theme="dark">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">¿Seguro que quieres eliminar el evento
                        "{{e.nombre}}"?</h1>
                </div>
                <div class="modal-body">
                    <small class="text-secondary">Si eliminas este evento se eliminarán todas las entradas asociadas a
                        este evento.</small>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-error" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primario" data-bs-dismiss="modal"
                        (click)="eliminar(e.idevento)">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="mapa">
        <google-map width="90vw" [options]="options">
            @for (loc of locations; track $index) {
            <map-advanced-marker [position]="{lat: loc.lat, lng: loc.lng}" />
            }
        </google-map>
    </div>
</div>
@if(alertConfirmEliminar){
<div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill me-1"></i>
    <div>
        Evento eliminado correctamente!
    </div>
</div>
}
@if(alertErrorEliminar){
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    <div>
        Evento y sus entradas eliminadas correctamente.
    </div>
</div>
}